* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

#site_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site_header {
    background-color: #182c61;
    padding: 16px 0;
}

#list_header {
    background-color: #395396;
    padding: 16px 0;
}

#site_header nav ul li {
    display: inline;
    margin-left: 16px;
    font-family: 'Recursive', sans-serif;
}

#list_header nav ul li {
    display: inline;
    margin-right: 16px;
    font-family: 'Recursive', sans-serif;
}

header nav a {
    color: wheat;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: whitesmoke;
    text-decoration: overline underline;
    font-weight: bolder;
}

h1 {
    font-family: 'Carattere', cursive;
    font-size: 48px;
    color: whitesmoke;
}

.logo {
    text-decoration: none;
}

h2 {
    font-size: 30px;
    font-family: 'Recursive', sans-serif;
    font-weight: bolder;
    color: black;
    margin-bottom: 16px;
}

h3 {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    color: #1d1c1f;
    margin-bottom: 4px;
}

details summary {
    font-family: 'Recursive', sans-serif;
    color: #182c61;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

details ul {
    margin-left: 38px;
    margin-bottom: 16px;
}

details ul li a {
    font-family: 'Recursive', sans-serif;
    color: #182c61;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
}

details ul li a:hover {
    color: #395396;
    font-weight: bold;
}

section {
    padding: 24px 0;
}

article .container {
    display: inline-flex;
}

article {
    margin-bottom: 48px;
}

section p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1d1c1f;
}

article table {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

article img {
    width: 450px;
    height: 450px;
    margin-right: 16px;
    flex-shrink: 0;
}

footer {
    background-color: #182c61;
    color: whitesmoke;
    padding: 16px 0;
    font-family: 'Recursive', sans-serif;
    font-weight: normal;
    
}

footer .container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.content_table {
    border-collapse: collapse;
    font-size: 16px;
    min-width: 400px;
}

.content_table caption {
    background-color: #182c61;
    color: wheat;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 12px 0;
}

.content_table thead {
    border-bottom: 1px solid wheat;
}

.content_table tbody tr {
    background-color: #395396;
    color: white;
    text-align: left;
    border-bottom: 1px solid wheat;
    border-left: 2px solid #182c61;
    border-right: 2px solid #182c61;
}

.content_table tbody td {
    border-right: 1px solid wheat;
    padding: 8px;
}

.content_table tbody tr:nth-of-type(even) {
    background-color: #5275d1;
}

.content_table tbody tr:last-of-type {
    border-bottom: 2px solid #182c61;
}